@keyframes vibrate {
    0% { transform: rotate(0deg); }
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-20deg); }
    40% { transform: rotate(20deg); }
    60% { transform: rotate(-20deg); }
    80% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }

  }
  
  .bell {
    display: inline-block;
    animation: vibrate 0.6s infinite;
   
  }


                       